body
{
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    'header'
    'content'
    'footer';

}
header
{
    grid-area: 'header';
    background-color: red;

}
.content
{
    grid-area: 'content';
}
footer
{
    grid-area: 'footer';
    background-color: green;
}