#chatbox
{
    margin-top: 20px;
    height: 500px;
    width:  700px;
    overflow-y: scroll;
    max-width: initial;
    max-height: initial;
}
#form
{
    width: 600px;
    margin-left: 32px;
    margin-top:1rem;
}
.map
{
    height: 75%;
    width: 75%;
}
